.img-tag{
    height: 40px;
    width: 40px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;

}

.img-container{
    display: flex;
    align-items: center;
    margin-right: 40px;
    width: 200px;
}

.searchResult{
    display: flex;
    align-items: center;
    margin: 8px;

}


.email-info{
    text-align: left;
}

.search-div{
    overflow-y: scroll;

    max-height: 240px;
}